.top-bar {
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
}
.box-top {
    width: 100%;
    min-width: 135px;
    background-image: url("https://img.wang.232232.xyz/img/2022/05/07/downloadfile.jpg");
    padding: 0px;
    /*border-bottom-left-radius: 8px;*/
    /*border-bottom-right-radius: 8px;*/
}
.box-top-right{
}
.top-ui {
    width: 100%;
    min-width: 800px;
    height: 50px;
    list-style: none;
    background-image: url("https://img.wang.232232.xyz/img/2022/05/07/IMG_20220507_065445.png");
    
    margin: 0;
    padding: 0;
}
.top-ui li{
    width:10%;
    min-width: 100px;
    margin:-10px 50px 0px -7px;
    float: left;
    text-align: center;
    display: block;
}
.top-ui a{
    color: black;
    text-decoration: none;//下划线;
}
.top-ui a:hover{
    color: #a88300;
}
.top-ui img{
    height: 40px;
    margin: 0;
    padding: 0;
    display: inline;
    position: relative;
    top:5px;
}